.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4c0519;
}

.footer__fern {
  display: none;
}

.footer__container1 {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem;
}

.footer__container1-bin {
  font-size: var(--size-sm);
}

.footer__container1-bin-item {
  display: flex;
  list-style-type: none;
  color: white;
  padding-right: 8px;
  line-height: var(--size-lg);
  align-items: center;
  justify-content: center;
}

.footer__container1-bin-link {
  color: white;
  text-decoration: none;
  line-height: var(--size-lg);
}

.footer__container1-bin-item:first-child {
  color: white;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: var(--size-sm);
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.footer__icon {
  display: inline-block;
  height: var(--size-base);
  width: var(--size-base);
  margin-left: 8px;
  cursor: pointer;
}

.footer__icon:hover {
  filter: opacity(50%);
}

.footer__container2 {
  margin-bottom: 10px;
}

.footer__copyright {
  color: white;
  font-size: var(--size-xs);
  text-align: center;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}

.footer__signature {
  font-size: var(--size-xs);
  font-weight: 400;
  color: slategray;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  user-select: none;
  margin-right: 2rem;
}

/* xs */
/* @media (min-width: 475px) {
  
} */

/* sm */
@media (min-width: 640px) {
  .footer__container1 {
    gap: 2rem;
  }

  .footer__container1-bin {
    font-size: var(--size-base);
  }

  .footer__container1-bin-item {
    line-height: var(--size-2xl);
  }

  .footer__container1-bin-link {
    line-height: var(--size-2xl);
  }

  .footer__container1-bin-item:first-child {
    margin-bottom: 5px;
    line-height: var(--size-xl);
  }

  .footer__icon {
    height: var(--size-lg);
    width: var(--size-lg);
  }

  .footer__container2 {
    margin-bottom: 10px;
  }

  .footer__copyright {
    font-size: var(--size-sm);
  }
}

/* md */
@media (min-width: 768px) {
  .footer__fern {
    display: block;
    position: absolute;
    left: 2%;
    bottom: 0;
    height: 98%;
    width: auto;
    filter: invert(50%);
  }

  .footer__container1 {
    flex-direction: row;
    margin-left: 20vw;
    padding: 2rem;
  }

  .footer__container1-bin {
    font-size: var(--size-sm);
    border-right: solid 1px white;
  }

  .footer__container1-bin-item {
    line-height: var(--size-xl);
    justify-content: right;
  }

  .footer__container1-bin-link {
    line-height: var(--size-xl);
  }

  .footer__icon {
    height: var(--size-base);
    width: var(--size-base);
  }

  .footer__copyright {
    text-align: center;
  }

  .footer__signature {
    text-align: center;
  }
}

/* lg */
@media (min-width: 1028px) {
  .footer__container1 {
    padding: 3rem;
  }

  .footer__container1-bin {
    font-size: var(--size-base);
  }

  .footer__container1-bin-item {
    line-height: var(--size-3xl);
  }

  .footer__container1-bin-link {
    line-height: var(--size-3xl);
  }

  .footer__container1-bin-item:first-child {
    margin-bottom: 10px;
    line-height: var(--size-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .footer__container1 {
    padding: 4rem;
  }

  .footer__icon {
    height: var(--size-xl);
    width: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
  
} */
